apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: cors-plugin
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "true" # Questo lo rende disponibile a tutti
plugin: cors
config:
  origins:
    # Permette al tuo file locale e a qualsiasi altro dominio di chiamarti
    - "*" 
  methods:
    - GET
    - POST
    - OPTIONS
  headers:
    - Content-Type