# apiVersion: configuration.konghq.com/v1
# kind: KongClusterPlugin
# metadata:
#   name: cors-plugin
#   annotations:
#     kubernetes.io/ingress.class: kong
#   labels:
#     global: "true" # Questo lo rende disponibile a tutti
# plugin: cors
# config:
#   origins:
#     # Permette a chiunque di fare chiamate
#     - "*" 
#   methods:
#     - GET
#     - POST
#     - OPTIONS
#   headers:
#     - Content-Type

apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: cors-plugin
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "true" # Questo assicura che sia applicato OVUNQUE
plugin: cors
config:
  origins:
    - "*"
  methods:
    - GET
    - POST
    - OPTIONS # Fondamentale
  headers:
    - Authorization # Fondamentale per il JWT
    - Content-Type
  max_age: 3600