apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: global-rate-limit
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "false"
plugin: rate-limiting
config:
  minute: 3 # Max 100 richieste al minuto per IP
  policy: local