apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: cors-plugin
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "true"
plugin: cors
config:
  origins:
    - "*"
  methods:
    - GET
    - POST
    - OPTIONS
  headers:
    - Authorization
    - Content-Type
  max_age: 3600